html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-gray-90);
  color: var(--color-gray-10);
  font-size: var(--size-font-s);
  line-height: var(--size-font-m);
  font-family: var(--font-sans);
}

.header {
  flex: 0 1 40px;
  -webkit-user-select: none;
  user-select: none;
}

.main {
  flex: 1 0 auto;
  display: flex;
}

.nav {
  flex: 0 1 40px;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
}
