html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  display: flex;
  background: var(--color-gray-90);
  color: var(--color-gray-10);
  font-size: var(--size-font-s);
  line-height: var(--size-font-m);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin-bottom: 1em;
}

.nav {
  flex: 0 1 88px;
}

.content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column;
  padding: 24px 20px;
}

.tab--body {
  border-top: 1px solid var(--color-gray-70);
  display: table;
}

.row {
  display: table-row;
  padding: 8px;
}

.row:nth-of-type(2n) {
  background-color: var(--color-gray-80);
}

.cell {
  display: table-cell;
}