html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  display: flex;
  align-items: stretch;
  height: 100vh;
  background: var(--color-gray-90);
  color: var(--color-gray-10);
  font-size: var(--size-font-s);
  line-height: var(--size-font-m);
  font-family: var(--font-sans);
  width: 425px;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin-bottom: 1em;
}

.nav {
  flex: 0 1 50px;
  border-right: 1px solid var(--color-gray-70);
  display: flex;
  flex-direction: column;
}

.nav--item {
  flex: 0 1 50px;
  padding: 17.5px;
}

.nav--icon svg {
  display: block;
  fill: var(--color-gray-50);
  width: 25px;
  height: 25px;
}

.nav--item:not(.nav--active):hover {
  background-color: var(--color-gray-70);
}

.nav--active {
  background-color: var(--color-blue-50);
}

.nav--active .nav--icon svg {
  fill: var(--color-pure-white);
}

.content {
  flex: 1 0 375px;
  display: flex;
  flex-flow: column;
  padding: 24px 20px;
  overflow-y: scroll;
}

.tab--body {
  display: table;
  width: 100%;
}

.header {
  display: table-row;
}

.header .cell {
  font-size: 14px;
  color: var(--color-gray-50);
  border-bottom: 1px solid var(--color-gray-70);
  padding: 4px 8px
}

.row {
  display: table-row;
}

.row:nth-of-type(2n) .cell {
  background-color: var(--color-gray-80);
}

.cell {
  display: table-cell;
  padding: 8px;
}

.cell:last-child {
  width: 60px;
}

.button {
  font-size: 14px;
  display: inline-block;
  background: var(--color-blue-50);
  border-radius: 3px;
  color: var(--color-white);
  padding: 6px 16px;
}

.button:hover {
  background: var(--color-blue-60);
}

.swatch {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.capitalize {
  text-transform: capitalize;
}

.tab {
  display: none;
}

.tab--active {
  display: block;
}